svg text{
  /*pointer-events: none;*/
  fill: #4d4d4d;
}

svg .tick {
  opacity: 0.5;
}

svg .title {
  opacity: 0.7;
}

svg .axisTitles {
  text-anchor: middle;
  font-size: 22px;
  font-weight: bold;
}

/*
Fonts for app
*/

body {
  --main-text-color: #525252;
}

body,
table,
label,
button,
svg text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


h1, h2, h3, h4 {
  font-weight: 400;
  color: #252525;
}

p, span, table, label, button {
  color: var(--main-text-color);
}

svg text {
  fill: var(--main-text-color);
}



/* Button Styles */
button,
.btn {
  	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  	box-shadow:inset 0px 1px 0px 0px #ffffff;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  	background-color:#ffffff;
  	-moz-border-radius:6px;
  	-webkit-border-radius:6px;
  	border-radius:6px;
  	border:1px solid #dcdcdc;
  	display:inline-block;
  	cursor:pointer;
  	padding:6px 20px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #ffffff;
  }

button:hover,
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

button:active,
.btn:active {
	position:relative;
	top:1px;
}

span.btn {
  font-weight: 200;
}

button.btn {
  font-size: 1rem;
  font-weight: 400;
}
